extends layout.pug

block content
  nav.navbar.navbar-light.bg-danger.fixed-top
    a.recargar.navbar-brand(href='/') Regresar al Inicio
  div.bkImage.mx-0.pt-5
    div.container
      div.row.pt-5
        div.pt-5.my-2
          h1.text-center.text-white ¡Bienvenidos a la herramienta de recomendaciones de que base de datos utilizar!
          h3.text-center.text-white.
            El objetivo de la herramienta es evaluar que motor de base de datos se recomienda utilizar en un escenario específico
        div.row.mx-auto.my-3
          a.btn.btn-danger.btn-lg(href="/questions") Empezar

