extends layout.pug

block content
  div.bkImage.mx-0.pt-5
    div.container
      div.row.pt-5
        div.pt-5.my-2
          h1.text-center.text-white #{text.welcome}
          h3.text-center.text-white.
            #{text.objective}
      div.row.mx-auto.my-3
        a.btn.btn-danger.btn-lg.mx-auto(href="/quiz") Empezar

