extends layout_v2.pug


block primary
    div.row.w-100.my-5
        div.col.text-center
            h2#numPregunta.text-danger.font-weight-bold Pregunta
            div.bg-danger.mx-auto(style='height: 5px;width: 50px')
    div.row.w-100.mx-auto.my-xl-5
        div.col-lg-10.mx-auto.container-fluid
            div#carouselIndicators.carousel.slide(style='margin-bottom: -30px;padding-bottom: 30px', data-interval='false', data-wrap='false', data-ride='carousel')
                ol.carousel-indicators
                    each item, ind in path_UI
                        li(id = "ind" + ind).indicador(data-target='#carouselIndicators', data-slide-to="" + ind)
                div.carousel-inner
                    each item,index in path_UI
                        div(id = "item" + index).carousel-item.w-100(class = index === 0 ? "active" : "")
                            div.mx-auto.w-75.mt-2.mb-5
                                h3.titulo_pregunta0.text-center.card-title.mb-4 #{item.question}
                                div#options.mx-auto.text-center.row
                                    each opt,index in item.options
                                        div.col-md
                                            button(id = "b-" + index,type='button').w-75.opciones.mx-3.opcion1.btn-danger.btn-lg.opcion-select #{opt}
                a#c_previous.carousel-control-prev(href='#carouselIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a#c_next.carousel-control-next(href='#carouselIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next