.bkImage{
  width: 100%;
  height: 100%;
  background-image: url('../images/bg_home.png');
  background-position: center;
}
.bg-project{
  background-color: white;
}

.modal-lg{
  max-width: 80%
}

body, html{
  height: 100%;
}

.nav-pills .nav-link.active {
  background-color: #dc3545 !important;
}

.tab-name {
  color: black;
}

.icon {
  width: 35px;
  height: 35px;
}

.home-icon {
  fill: white;
}

.list-group {
  max-height: 235px;
  margin-bottom: 10px;
  overflow: auto;
  overflow-x: hidden;
}

.btn-lg {
  cursor: pointer
}

.card-style {
  width: 90% !important;
}

.custom-scroll::-webkit-scrollbar {
    width: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #dc3545;
    border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
/*
a:hover, a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs {
  border: none;
  border-bottom: 2px solid #00080a;
  margin:0;
}
.tab .nav-tabs li a{
  padding: 10px 20px;
  margin: 0 10px -1px 0;
  font-size: 17px;
  font-weight: 600;
  color: #293241;
  border: 2px solid #E5E5E5;
  border-bottom: 0px solid transparent;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  position: relative;
  transition: all .5s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li a.active{
  background: #E5E5E5;
  color: #00080a;
  border: 2px solid #00080a;
  border-bottom-color: #E5E5E5;
}

.tab .nav-tabs li a:before{
  content: "";
  display: block;
  height: 2px;
  background: #E5E5E5;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: all .5s ease-in-out 0s;
}

.tab .nav-tabs li a.active:before,
.tab .nav-tabs li a:hover:before{ transform: scaleX(1); }

@media only screen and (max-width: 479px){
  .tab .nav-tabs{ border: none; }
  .tab .nav-tabs li{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tab .nav-tabs li a{
    margin: 0;
    border-bottom: 2px solid transparent;
  }
  .tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #E5E5E5;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}
*/